/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #273746;
    background-image: url("C:\Users\gveer\Downloads\bg-11-full.jpg");
    color: #333;
    text-align: center;
}

/* Header Section */
.header {
    padding: 10px;
    background-color:deeppink; /* Light pink background */
    color: yellow;
    margin-bottom: 40px;
    border-radius: 80px;
}

.header h1 {
    font-size: 3em;
    font-family: Georgia;
    margin-bottom: 10px;
}

.header p {
    font-size: 1.2em;
    color:gold;
}


/* Overlay Effect */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
}

.overlay h3 {
    margin-bottom: 10px;
    font-size: 1.8em;
}

.overlay p {
    font-size: 1.2em;
}

/

/* Footer */
footer{
    margin-top: 20px;
    padding: 20px;
    background-color:deeppink;
    color: yellow;
    border-radius:80px;
    margin-bottom: 40px;
}

h4{
    color: white;
}

/* Responsive */
@media (max-width: 768px) {
    .header h1 {
        font-size: 2em;
    }

    .gallery {
        grid-template-columns: 1fr;
    }
}
